@import "bootstrap-sprockets";
@import "bootstrap";


/* universal */

body {
  padding-top: 60px;
  background: -webkit-linear-gradient(rgba(207, 194, 145, 0.6), rgba(207, 194, 145, 0.6)), url(/assets/forrest.jpg) no-repeat center center fixed;
  background: -o-linear-gradient(rgba(207, 0, 0, 0.85), rgba(0, 0, 0, 0.8)), url(/assets/forrest.jpg) no-repeat center center fixed;
  background: linear-gradient(rgba(196, 192, 185, 0.90), rgba(196, 192, 185, 0.93)), url(/assets/ocean.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

section {
  overflow: auto;
}
.body-container {
  width: 78%;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  margin-top: -69px;
  margin-bottom: -69px; 
  padding-top: 77px;
  padding-left: 6em;
  padding-right: 6em
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* posts */

.post-blue {
  width: 100%;
  color: #191C3E;
}

.post-yellow {
  width: 100%;
  color: #F2AE72;
}

.post-red {
  width: 100%;
  color: #8C4646;
}

.post-blue .date-box{
  background-color: #191C3E;
}

.post-red .date-box{
  background-color: #8C4646;
}

.post-yellow .date-box{
  background-color: #F2AE72;
}

.post-blue .divider{
  border-color: #191C3E;
}

.post-red .divider{
  border-color: #8C4646;
}

.post-yellow .divider{
  border-color: #F2AE72;
}





.date-box {
  background-color: green;
  display: inline-block;
  width: 8%;
  color: white;
  font-size: 2em;
  height: 34px;
  text-align: center;
  padding-top: .9%;
  padding-bottom: .5%;
  /*vertical-align: middle;*/
  padding-left: 2px;
  padding-right: 2px;
  
}
.description {
  display: inline-block;
  font-size: 1.5em;
}

.post-title {
  display: inline-block;
  font-size: 2em;
}

.divider {
  display: block;
  margin-top: 0em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
  border-width: 2px;
  border-color: green;
}

.photo {
  width: 100%;
  box-shadow: 0 4px 2px -2px rgba(0,0,0,0.4);
  margin-left: auto;
  margin-right: auto;
}



/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}
.navbar-inverse .navbar-text {
  color: white;
}

/* header */

.navbar-inverse {
  background: -webkit-linear-gradient(#black, #black); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#black, #black); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#9368E9, #1F1F1F); /* For Firefox 3.6 to 15 */
  background: linear-gradient(rgba(10, 13, 39, 0.90), rgba(10, 13, 39, 1)), 
  url("http://www.1wallpaperhd.com/wp-content/uploads/Black%20and%20White/FTP1/2560x1600/Winter%20trees%20(Black%20and%20White)%20Wallpapers%202560x1600.jpg");; /* Standard syntax */
  color: white;

  border-color: srgba(10, 13, 39, 0.90);
  opacity:.9;

}

.navbar-inverse .navbar-link {
  color:white;
}
.navbar-inverse .navbar-nav > li > a {
  color: white;
}

#logo {
  display: block;
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 16px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
  background-color: transparent;
}

.glyphicon.glyphicon-camera {
  float: left;
  display: block;
  font-size: 2.1em;
  padding-top: 8px;
  letter-spacing: 6px;
  color: white;
  padding-left: 27px;
}

.current-user {
  float: right;
}
/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}