<footer class="footer">
  <small>
    Photoblog made with Ruby on Rails. Photos hosted with AWS. Deployed on Herokuu.
  </small>
  <nav>
    <ul>
      <li><%= link_to "Home",   posts_path %></li>
      <li>Contact: joseph.longmoore@gmail.com</li> 
    </ul>
  </nav>
</footer>