<footer class="footer">
  <small>
    Ruby on Rails Photoblog. Photos hosted with AWS. Deployed on Heroku.
  </small>
  <nav>
    <ul>
      <li>Contact: joseph.longmoore@gmail.com</li> 
    </ul>
  </nav>
</footer>