<footer class="footer">
  <small>
    Ruby on Rails Photoblog. Deployed on Heroku. Will use this to practice FED, eventually..
  </small>
  <nav>
    <ul>
      <li>Contact: joseph.longmoore@gmail.com</li> 
    </ul>
  </nav>
</footer>